.cover__overlay  {
  background-image: linear-gradient(rgba(42, 44, 47, 30%), rgba(42, 44, 47, 30%)), url(../../../images/cover-trains.jpg);
  text-decoration: none;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1.6 / 1;
}

.cover__overlay:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 80%), rgba(42, 44, 47, 80%)), url(../../../images/cover-trains.jpg);
}
